@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0ced81;
  --primary-deep: #07d270;
  --secondary: #8db7f7;
  --accent: #12f38615;
  --transparentbg: #0a0a0a53;
  --transparentbg2: #0a0a0a6a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #12f386;
    --primary-deep: #08d371;
    --secondary: #083270;
    --accent: #12f38615;
    --transparentbg: #ffffff0e;
    --transparentbg2: #ffffff19;
   
  }
}

*{
 scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", serif;
}

.logo{
  font-family: "New Rocker", serif;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}




